:root{
    --NaranjaIn-color-principal: rgb(219, 155, 34); 
    --dark-color-principal: #212529;
}
body{
    border: 0;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    background-color: var(--NaranjaIn-color-principal);
    
}
.navbar-brand{
    color: var(--dark-color-principal);
    font-weight: bold;
}
.navbar .nav-link.active{
    color: var(--NaranjaIn-color-principal)
}

.btn{
    margin-right: 17px;
}

.input-group-text:hover{
    cursor: pointer;
    opacity: 0.9;
}
.subtitle{
    
    color: var(--NaranjaIn-color-principal);
}
.card-header{
    background-color: var(--NaranjaIn-color-principal);
    color: var(--dark-color-principal);
}


